<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--meta 原标签-->

    <!-- - "content=device-width" 将视口的宽度设置为正在查看网页的设备的宽度。这意味着网页将根据设备的宽度调整其布局，而不是使用固定宽度。
    - "initial-scale=1.0" 将网页的初始缩放级别设置为100%。这确保了网页在首次加载时以其原始大小显示。
    - content（目录） device(装置）  initial（初始） scale（改变尺寸大小）-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login</title>

    <!--导入Semantic UI 框架，在首尾都需要引入-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">

    <!--必须引入css代码的位置-->
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}" >
</head>
<body>
<br>
<br>
<br>
<br>
<div class="m-container-mini m-padded-tb-massive">
    <div class="ui container">
        <div class="column">
            <h2 class="ui teal image header">

                <div class="content">
                    管理后台登录
                </div>
            </h2>
            <form class="ui large form" method="post" action="#" th:action = "@{/admin/login}">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="登录用户名">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button">Login</button>
                </div>

                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>

<!--引入jquery的链接-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js"></script>

<!--导入Semantic UI 框架，在首尾都需要引入-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

</body>
</html>